.footerFixed{
    min-height: 100vh;
    position: relative;
    padding-bottom: 50px; 
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #8da0b6;
    text-align: center;
}

footer small {
    display: block;
    padding: 8px 0;
    color: #fff;
}